/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2018, 12:14:49 AM
    Author     : aman2
*/
/* navbar */
body{
    background-color: #ccc;
}
.bg-color{
    background-color:#363636;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.pad-1{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mar-top{
    margin-top: 65px;
}

.navigation{
    width: 100%;
    background-color: #CF6F3F;
    padding-top: 10px;
}
.color-1{
    color: white;
}
.col-3 center a button{
    width: 60%;
    margin-bottom:10px; 
}
.row .img img{
    height: 75px;
    width: 75px;
        
}

.row .img-1 img{
    width: 160px !important;
    height: 160px !important;
    display: block;
    margin: auto;
}
.pad-3{
    padding-top: 6px;
}
.pad-4{
    padding-top : 30px !imortant;
    padding-bottom: 30px !important;
}
.pad-5{
    padding: 0px !important;
}
.row .col-6 center a{
    text-decoration: none;
    color: #fff;
}
.row .col-6 center a:hover{
    text-decoration: underline;
}
.active1{
    background-color: rgba(0,0,0,0.9);
}

.signup_login button{
    background-color: #0087BE;
    padding-left: 20px;
    padding-right: 20px;
}
.border{
    border: none !important;
}
.border button{
    border-width: 0px !important;
    padding: 0px !important;
    color: #fff !important;
    cursor: pointer;
    width: 50%;
}
/* modal starts */
#myModal{
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
    z-index: 1040;
}
#myModal * ,#myModal *::before,#myModal::after{
    box-sizing: content-box;
}
.mymodal-content{
    border: 5px solid #888;
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 16px 32px;
    height: 80%;
    border-radius: 10px;
    box-sizing: content-box !important;
    padding-left: 55px;
}
.div-left{
    
    position: relative;
    z-index: 3;
   text-align: center;
   border-right: 7px;
   -o-transform-origin:0% 0%;
   -moz-transform-origin: 0% 0%;
   -webkit-transform-origin: 0% 0%;
   transform-origin: 0% 0%;
    float: left;
    width: 46%;
    height: auto;
    padding: 8px 12px;
    -o-transform:rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: #fcfcfc;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2), 0px 4px 20px 0px rgba(0,0,0,0.19);
    
}
.div-right{
    text-align:  center;
    position: relative;
    right: 40px;
    top: 30px;
    border-right: 7px;
    float: right;
    height: 80%;
    width: 46%;
    padding: 8px 12px;
    -o-transform:rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
    -o-transform-origin:0% 0%;
   -moz-transform-origin: 0% 0%;
   -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background-color: #fcfcfc;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2), 0px 4px 20px 0px rgba(0,0,0,0.19);
}
.close-1{
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-1:hover,.close-1:focus{
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
}
.div-content{
    width: 100%;
    height: 90%;
}
.div-content::before,.div-content::after{
    content: "";
    display: table;
    clear: both;
}
.mymodal-header{
    height: 10%;
    width: 100%;
}
.email ,.password{
    width: 250px;
    margin: auto;
    padding: 8px 12px;
    text-align: center;
    height: 1.7em;
    margin-bottom: .8em;
    border: 2px solid #6DB65B;
    color: #555;
    background-color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    display: block;
    text-decoration: none;
    transition: box-shadow .45s, border-color .45s ease-in-out;
}
.email:focus,.password:focus{
box-shadow:0 0 5px rgba(0, 0, 0, .1);
border-color: rgba(0, 0, 0, .1);
text-decoration: none;
outline: 0;
}
.submit{
    border: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    width: 120px;
    margin: auto;
    background-image: linear-gradient(to bottom,#fff,#f8f8f8);
    border-radius:8px;
    color: #4AAE9B;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    letter-spacing: 1px;
    cursor: pointer;
}
.submit:hover{
    transform: scale(1.05);
}
form h1{
    font-size: 2em !important;
    margin-top: 60px;
    color: #008f68;
    font-weight: 400;
    margin-bottom: 10px;
}
.div-right h1{
    color: #EFBB35;
    font-weight: 400;
    margin-bottom:0;
    margin-top: 50px;
}.div-right h4{
    color: #6DB65B;
    font-size: 20px;
    
}
.div-right h4::first-line{
    font-weight: 400;
   
}
button a{
    text-decoration: none !important;
    color:#4AAE9B !important;
    
}
.pad-2{
    width: auto;
    margin-top: 20px;
}
.modal-body img{
    max-width: 100%;
    width: 25%;
    display: block;
    min-width: 150px;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
.modal-body p{
    text-align: justify;
    width: 75%;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* popup */
#popup{
    
    z-index: 2;
    bottom: 0;
    right: 0;
   position: fixed;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 7px;
}
#popup .popup-content svg{
    
    height: 60px;
}
#popup .popup-content svg path{
    fill:#448AFF;
}
#pop{
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    background-color: rgba(0,0,0,0.8);
    z-index: 1040;
}
.pop-content{
    top: 50%;
    position:inherit;
    width: 100%;
    border: none;
    height: 70%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
.pop-content-1{
    height: 100%;
}
#close-pop{
    padding: 0px;
    font-size: 30px;
}
#close-pop:hover{
    color:rgba(255,255,255,0.9);
}
.pop-box{
    background-color: #FCEAFF;
    margin: 0px auto;
    width: 40%;
    padding: 32px;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}
.pop-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: rgba(255,255,255,0.6);
    
}
.pop-left{
    width: 100%;
    transform: none;
    padding: 0;
    height: 100%;
}
.mar-top-2{
    margin-bottom: .4em;
}
#pop form p{
    margin-top: 0px;
    padding-left: 10px;
}
#pop form h1{
    margin-bottom: 5px;
    margin-top: 40px;
}

/* donate begins */
div#donate{
    width: 100%;
    position: relative;
    padding-top: 50px;
    background-color: #fff;    
   
}
.donate-content{
    width: 80%;
    margin: auto;
    
}
.donate-quote{
    padding: 16px 32px;
    color:white;
    padding-top: 50px;
    background-color: #f8f8f8;
    
    
    
}
#donate a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #CF6F3F;
    
    transition: all .2s ease-out;
    
    
}
#donate a:hover{
    text-decoration: underline;
    
}
.donate-quote center{
    width: 100%;
}
.donate-quote span{
    width: 100%;
    color: cornflowerblue;
   
}
#donate q{
    font-size: 1.5em;
    padding-bottom: 20px;
    color: #000;
}
.donate-quote span img{
    width: 120px;
    padding-top: 10px;
}
.donate-btn{
    width: 100%;
    height: 28vh;
    position: relative;
    text-align: center;}
.donate-btn-c{
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
}
.pad-2{
    width: auto;
    margin-top: 20px;
}
.mar-top-3{
    margin-top: 10px !important;
}
.nav_link{
    padding: 8px 10px;
    position: relative;
    padding-top: 45px;
}
.nav_link::after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 50%;
    left: 25%;
    height: 2px;
    background-color: rgba(255,255,255,0.8);
}
.navigation center{
    padding-top: 10px;
}
.bg-color-2{
    background-color: #fff;
}
.nav_link_news{
    padding: 8px 10px;
    position: relative;
    padding-top: 30px !important;
}
.nav_link_news::after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 110%;
    left: 0px;
    height: 2px;
    background-color: #ccc;
    margin-left: -10px;
    margin-right: -10px;
}
.nh-1{
    width: 100%;
    text-align: center;
    
}
.news-headlines{
    width: 100%;
    padding-bottom: 21px;
    background-color: #fff;
    box-sizing: border-box;
}
.date{
    color: #CF6F3F;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.heading{
    color:#000;
    font-style: italic;
}
.heading:hover{
    text-decoration: underline;
}
.heading a p{
    padding-bottom: 30px;
    position: relative;
}
.heading a p:after{
    content: "";
    position: absolute;
    left: 45%;
    width: 10%;
    bottom: 0px;
    height: 2px;
    background-color: #CF6F3F;
}
/* gallery */
#gallery{
    width: 100%;
    background-color: #fff;
}
.header{
    width: 100%;
    padding: 5px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.main-header{
    float: left;
    width: 50%;
    
}
.ref{
    float: right;
    width: 50%;
    text-align: right;
    color: #CF6F3F;
    
}
.ref p a{
    text-decoration: none;
    color: #CF6F3F;
}
.ref p a:hover,.ref p a:focus{
    text-decoration: underline;
}
.header::after{
    content: "";
    
    clear:both;
    display: table;
}
.ga-content{
    width: 100%;
    padding-bottom: 40px;
}
.big-img{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.big-img a img{
    width: 100%;
    height: auto;
}
.big-img a{
    display: block;
}
.small-img{
    width: 100%;
    padding-left: 20px;
    padding-right: 15px;
    box-sizing: border-box;
}
.small-img a img{
    box-sizing: border-box;
    padding-right: 5px;
    width: 33.333333%;
    height: auto;
    padding-bottom: 10px;
    float: left;
}
.small-img a{
    display: block;
}
.small-img::after,.small-img::before{
    content: "";
    clear: both;
    display: table;
}
hr{
    margin-top: 0px;
}
/* gallery ends */
/* alumni needs */
#alumni-needs{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}
.alumni-needs-container{
    width: 100%;
    
}
.content{
    font-style: italic;
    color: rgba(0,0,0,0.4);
    padding: 20px;
}
.icon{
    width: 100%;
    
}
.icon::after,.icon::before{
    content: "";
    clear: both;
    display: table;
}
.icon-div{
    box-sizing: border-box;
    width: 33.333333%;
    float: left;
    padding-right: 5px;
}
.icon-image img{
    max-width: 100%;
    height: auto;
}
.icon-text{
    width: 100%;
}
.icon-text{
    width: 100%;
    color: #000;
    text-align: center;
}
.post-need{
    width: 30%;
    padding-top: 20px;
    border: none;
}
.post-need button{
    background-color: #CF6F3F;
    border-width: 0px;
    padding:5px 10px;
    border-radius: 5px;
    color: #fff;
}
.post-need button:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* alumni Speaks */
.alumni-speaks{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
.alumni-speaks-header{
    width: 100%;
    color: #000;
    text-align: center;
    padding-bottom: 10px;
}
.alumni-speaks-content{
    padding-top: 10px;
    width: 100%;
    color: rgba(0,0,0,0.8);
}
.alumni-speaks-content center p{
    text-align: justify;
}
.alumni-speaks-content button{
    background-color: #CF6F3F;
    color: #fff;
    border-width: 0px;
    margin-bottom: 5px;
}
.alumni-speaks-content button:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.alumni-speaks-heading center p{
    color:#CF6F3F;
    
}
/* modal bootstrap */
.modal-dialog{
    max-width: unset;
}
.btn-1:focus{
    box-shadow: none;
    outline: 0;
}
/* footer*/
footer{
    margin-top: 10px;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}
@media screen and (min-width:1200px){
    .alumni-speaks{
        
    }
    .navigation{
        
    }
}
@media screen and (max-width:1200px){
    .border button{
        width: 30%;
    }
    .col-xl-3.col-lg-12.col-md-12.col-sm-12.pad-1.bg-color-1.color-1{
        margin-top: 10px;
    }
}