body{
    background-color: #CCCCCC;
}
.bg-color{
    background-color:#363636;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.pad-5{
    padding: 0px !important;
}
.mar-top{
    margin-top: 65px;
    
}
.active1{
    background-color: rgba(0,0,0,0.9);
}
.pad-4{
    padding-top : 30px !imortant;
    padding-bottom: 30px !important;
}
.text-white a{
    color: inherit;
}
footer{
    margin-top: 10px;
}
/* about Us */
.aboutUs-container{
    width: 100%;
    box-sizing: border-box;
    
    background-color: #fff;
}
.content{
    width: 100%;
    padding: 10px;
}
.header{
    position: relative;
    display: inline-block;
    font-size: 20px;
    background-color: #F29A0F;
    padding: 8px 10px;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #F29A0F;
    border-left: 50px solid #F29A0F;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    transform: scale(0.46);
    transform-origin: 0 0;
}

.main-content{
    width: 100%;
    
}
.main-content img{
    height: 300px;
    
   
}
hr{
    margin-top: 0px;
}
.img1{
    text-align: center;
    display: inline-block;
}